{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container" role="main">
    <h2>About</h2>
    <p>EMBL-ABR STM (Search for Training Materials) is a web-based tool using
        a custom Google search engine to find bioinformatics training materials
        from various organisations both in Australia and worldwide.</br></p>

    <h2>Where can I find the code?</h2>
    <p>EMBL-ABR STM's code is made available under the GNU GPL 3.0 license. You can find the code on
        <a href="https://github.com/EMBL-ABR/EMBL-ABR-STM">GitHub</a></p>

    <h2>The Team</h2>
    <ul>
        <li>EMBL-ABR@VLSCI node, Bioinformatics Platforms Developer, Madison Flannery</li>
        <li>EMBL-ABR HUB Training Coordinator, Christina Hall</li>
        <li>EMBL-ABR HUB Open Data Coordinator, Pip Griffin</li>
        <li>EMBL-ABR Deputy Director, Vicky Schneider</li>
    </ul></br>

    <p>See what else EMBL-ABR is doing in training
        <a href="https://www.embl-abr.org.au/training/">here</a>,
        and stay up to date about bioinformatics training events
        <a href="http://www.embl-abr.org.au/about/events">here</a>.</p>
</div> <!-- /container -->

{% endblock %}
